@model QuanLyChuyenModel
@using Nop.Services.NhaXes
@using Nop.Core.Domain.NhaXes;
@{
    int _top = 135;  
}
<div style="position:relative;width:100%">
    <div class="tabthongtinsodoghe" style="top:@(_top)px">
        @Html.Partial("_GetInfoSoDoGheXeToDatVe", Model)
    </div>
</div>

<style>
    .tabthongtinsodoghe {
        width: 100%;
        text-align: center;
        position: absolute;
        left: 0px;
    }
</style>
