@using Nop.Web.Models.Common
@{
    Layout = null;
    var reqid = Session.SessionID;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mua v&#233; xe kh&#225;ch Online, V&#233; xe rẻ, chonve.vn</title>
    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:500,600,700,800,900,400,300' rel='stylesheet' type='text/css'>

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,300italic,400italic' rel='stylesheet' type='text/css'>
    <!-- Bootstrap -->
    <link href="/Content/gioithieupm/css/bootstrap.min.css" rel="stylesheet">

    <!-- Owl Carousel Assets -->
    <link href="/Content/gioithieupm/css/owl.carousel.css" rel="stylesheet">
    <link href="/Content/gioithieupm/css/owl.theme.css" rel="stylesheet">


    <!-- Pixeden Icon Font -->
    <link rel="stylesheet" href="/Content/gioithieupm/css/Pe-icon-7-stroke.css">

    <!-- Font Awesome -->
    <link href="/Content/gioithieupm/css/font-awesome.min.css" rel="stylesheet">


    <!-- PrettyPhoto -->
    <link href="/Content/gioithieupm/css/prettyPhoto.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

    <!-- Style -->
    <link href="/Content/gioithieupm/css/style.css" rel="stylesheet">

    <link href="/Content/gioithieupm/css/animate.css" rel="stylesheet">
    <!-- Responsive CSS -->
    <link href="/Content/gioithieupm/css/responsive.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- PRELOADER -->
    <div class="spn_hol">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <!-- END PRELOADER -->
    <!-- =========================
         START ABOUT US SECTION
    ============================== -->
    <section class="header parallax home-parallax page" id="HOME">
        <h2></h2>
        <div class="section_overlay">
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Menu</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">
                            <img src="/Content/gioithieupm/images/logo.png" alt="Logo">
                        </a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <!-- NAV -->
                            <li><a href="/Home/Index?req=@reqid">TRANG CHỦ</a> </li>
                            <li><a href="#ABOUT">PHẦN MỀM </a> </li>
                            <li><a href="#FEATURES">CÁC TÍNH NĂNG</a></li>                            
                            <li><a href="#CONTACT">ĐĂNG KÝ DÙNG THỬ</a> </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container- -->
            </nav>

            <div class="container home-container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="logo text-center">
                            <!-- LOGO -->
                            <img src="/Content/gioithieupm/images/logo.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="home_text">
                            <!-- TITLE AND DESC -->
                            <h1>SỰ HÀI LÒNG CỦA KHÁCH HÀNG LÀ MỤC TIÊU CAO NHẤT</h1>
                            <p>Nâng cao chất lượng dịch vụ vận tải hành khách</p>
                            <p>Tạo nên một xu hướng văn hóa mới trong việc đặt vé xe khách</p>

                            <div class="download-btn">
                                <!-- BUTTON -->
                                <a class="btn home-btn wow fadeInLeft" href="#CONTACT">ĐĂNG KÝ DÙNG THỬ</a>
                                <a class="tuor btn wow fadeInRight" href="#ABOUT">Giới thiệu <i class="fa fa-angle-down"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-md-offset-1 col-sm-6">
                        <div class="home-iphone">
                            <img src="/Content/gioithieupm/images/fullphoive800.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- END HEADER SECTION -->
    <!-- =========================
         START ABOUT US SECTION
    ============================== -->


    <section class="about page" id="ABOUT">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <!-- ABOUT US SECTION TITLE-->
                    <div class="section_title">
                        <h2>PHẦN MỀM QUẢN LÝ DỊCH VỤ VẬN TẢI HÀNH KHÁCH</h2>
                        <p>Bạn đang gặp khó khăn trong việc quản lý hoạt động kinh doanh vận tải, đặt vé online, bán vé tại bến, đồng bộ phơi vé giữa các văn phòng, quản lý ký gửi hàng hàng hóa, quản lý chuyến đi, xe, lái xe. <br />
                            <strong>Hãy để chúng tôi giúp bạn</strong> </p>
                    </div>
                </div>

            </div>
        </div>
        <div class="inner_about_area" style="background-color:rgba(255, 106, 0, 0.68)">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="about_phone wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                            <!-- PHONE -->
                            <img src="/Content/gioithieupm/images/vandenhaxe.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-6  wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
                        <!-- TITLE -->
                        <div class="inner_about_title">
                            <h2>Vấn đề của bạn là gì</h2>
                            <p>Bạn gặp khó trong vấn đề kiểm soát tiền vé, tiền hàng, quản lý lái xe, phụ xe, bến bãi, xe khách.</p>
                        </div>
                        <div class="inner_about_desc">

                            <!-- SINGLE DESC -->
                            <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1s">
                                <!-- ICON -->
                                <div><i class="pe-7s-cash"></i></div>
                                <!-- HEADING DESCRIPTION -->
                                <h3>Chi phí thất thoát</h3>
                                <p>Quá nhiều chi phí phát sinh, thất thoát do kiểm soát không chặt chẽ, gian lận ?</p>
                            </div>
                            <!-- END SINGLE DESC -->
                            <!-- SINGLE DESC -->
                            <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1.5s">
                                <!-- ICON -->
                                <div><i class="pe-7s-target"></i></div>
                                <!-- HEADING DESCRIPTION -->
                                <h3>Quản lý phức tạp</h3>
                                <p>Đặt vé thiếu thông tin, trùng vé, thất lạc hàng hóa, khó kiểm tra tiền thu hàng ngày?</p>
                            </div>
                            <!-- END SINGLE DESC -->
                            <!-- SINGLE DESC -->
                            <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="2s">
                                <!-- ICON -->
                                <div><i class="pe-7s-stopwatch"></i></div>
                                <!-- HEADING DESCRIPTION -->
                                <h3>Phát triển thương hiệu</h3>
                                <p>Thiếu công cụ, thiếu phương pháp quảng bá thương hiệu, khó khăn trong việc nâng cao chất lượng dịch vụ?</p>
                            </div>
                            <!-- END SINGLE DESC -->

                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </section>
    <!-- End About Us -->
    <!-- =========================
         START TESTIMONIAL SECTION
    ============================== -->

    <section id="TESTIMONIAL" class="testimonial parallax">
        <div class="section_overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 wow bounceInDown">
                        <div id="carousel-example-caption-testimonial" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-caption-testimonial" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-caption-testimonial" data-slide-to="1"></li>
                                <li data-target="#carousel-example-caption-testimonial" data-slide-to="2"></li>
                                <li data-target="#carousel-example-caption-testimonial" data-slide-to="3"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <!-- IMAGE -->
                                                <img src="/Content/gioithieupm/images/a-sao1.png" alt="">
                                                <div class="testimonial_caption">
                                                    <!-- DESCRIPTION -->
                                                    <h2>Đảm bảo giá tốt nhất</h2>                                                    
                                                    <p>“Chính sách về giá của chúng tôi giúp bạn có thể đi đến bất cứ điểm nào trên đất nước với chi phí thấp nhất.”</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <!-- IMAGE -->
                                                <img src="/Content/gioithieupm/images/a-sao2.png" alt="">
                                                <div class="testimonial_caption">
                                                    <!-- DESCRIPTION -->
                                                    <h2>Đặt vé dễ dàng</h2>
                                                    <p>“Tìm kiếm, lựa chọn và đặt vé – cách nhanh nhất để tiết kiệm và có một hành trình như ý muốn”</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <!-- IMAGE -->
                                                <img src="/Content/gioithieupm/images/a-sao3.png" alt="">
                                                <div class="testimonial_caption">
                                                    <!-- DESCRIPTION -->
                                                    <h2>Chăm sóc khách hàng 24/7</h2>
                                                    <p>“Nếu có thắc mắc hay gặp khó khăn gì, đừng ngần ngại, hãy gọi cho chúng tôi theo số 0918.377.989”</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <!-- IMAGE -->
                                                <img src="/Content/gioithieupm/images/a-sao4.png" alt="">
                                                <div class="testimonial_caption">
                                                    <!-- DESCRIPTION -->
                                                    <h2>Sự hài lòng của khách hàng</h2>
                                                    <p>“Nếu dịch vụ của chúng tôi đã đáp ứng được mong đợi của khách hàng, hãy dành cho chúng tôi một sự động viên, khích lệ”</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- END TESTIMONIAL SECTION -->
    <!-- =========================
         START FEATURES
    ============================== -->
    <section id="FEATURES" class="features page">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <!-- FEATURES SECTION TITLE -->
                    <div class="section_title wow fadeIn" data-wow-duration="1s">
                        <h2>TÍNH NĂNG PHẦN MỀM</h2>
                        <p>Nâng cao chất lượng dịch vụ hành khách, là nhiệm vụ sống còn đối với doanh nghiệp vận tải</p>
                    </div>
                    <!-- END FEATURES SECTION TITLE -->
                </div>
            </div>
        </div>

        <div class="feature_inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 right_no_padding wow fadeInLeft" data-wow-duration="1s">
                        <!-- FEATURE -->

                        <div class="left_single_feature">
                            <!-- ICON -->
                            <div><span class="pe-7s-like"></span></div>

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3>Quản lý bán vé<span>/</span></h3>
                            <p>Bán, đặt vé qua phơi vé điện tử, hủy hoặc chuyển vé theo quy trình</p>
                        </div>

                        <!-- END SINGLE FEATURE -->
                        <!-- FEATURE -->
                        <div class="left_single_feature">
                            <!-- ICON -->
                            <div><span class="pe-7s-science"></span></div>

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3>Ký gửi hàng hóa<span>/</span></h3>
                            <p>Quản lý hàng hóa ký gửi, quản lý kho, Quy trình kiểm soát, nhận và trả hàng hóa</p>
                        </div>
                        <!-- END SINGLE FEATURE -->
                        <!-- FEATURE -->
                        <div class="left_single_feature">
                            <!-- ICON -->
                            <div><span class="pe-7s-look"></span></div>

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3>Xe xuất bến<span>/</span></h3>
                            <p>Điều tiết xe xuất bến, tạo lệnh(giấy) đi đường, in phơi, lệnh chuyển hàng hóa</p>
                        </div>
                        <!-- END SINGLE FEATURE -->

                    </div>
                    <div class="col-md-4">
                        <div class="feature_iphone" style="padding-top:75px">
                            <!-- FEATURE PHONE IMAGE -->                            
                            <img class="wow bounceIn" data-wow-duration="1s" src="/Content/gioithieupm/images/phanmemmodel.png" alt="">                            
                        </div>
                    </div>
                    <div class="col-md-4 left_no_padding wow fadeInRight" data-wow-duration="1s">

                        <!-- FEATURE -->
                        <div class="right_single_feature">
                            <!-- ICON -->
                            <div><span class="pe-7s-monitor"></span></div>

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><span>/</span>Quản lý văn phòng</h3>
                            <p>Quản lý văn phòng, quầy bán vé, nhân viên, thanh tra, lái xe, phụ xe</p>
                        </div>
                        <!-- END SINGLE FEATURE -->
                        <!-- FEATURE -->
                        <div class="right_single_feature">
                            <!-- ICON -->
                            <div><span class="pe-7s-phone"></span></div>

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><span>/</span>Hành trình</h3>
                            <p>Quản lý hành trình, lịch trình, điểm dừng đỗ, điểm đón, điểm chốt, quản lý thông tin xe</p>
                        </div>
                        <!-- END SINGLE FEATURE -->
                        <!-- FEATURE -->
                        <div class="right_single_feature">
                            <!-- ICON -->
                            <div><span class="pe-7s-gleam"></span></div>

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><span>/</span>Báo cáo-thống kê</h3>
                            <p>Báo cáo doanh thu theo xe, theo văn phòng, theo nhân viên bán vé, tính lượt, tính công cho lái và phụ xe</p>
                        </div>
                        <!-- END SINGLE FEATURE -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END FEATURES SECTION -->    
   
    <!-- =========================
         START DOWNLOAD NOW
    ============================== -->
    <section class="download page" id="DOWNLOAD">       

        <div class="available_store">
            <div class="container  wow bounceInRight" data-wow-duration="1s">
                <div class="col-md-6">
                    <div class="available_title">
                        <h2>HỆ THỐNG PHẦN MỀM</h2>
                        <p>Hệ thống phần mềm được xây dựng có thể ứng dụng trên đa nền tảng</p>
                    </div>
                </div>

                <!-- DOWNLOADABLE STORE -->
                <div class="col-md-6">
                    <div class="row">
                        <a href="">
                            <div class="col-md-4 no_padding">
                                <div class="single_store">
                                    <i class="fa fa-apple"></i>
                                    <div class="store_inner">
                                        <h2>WEB</h2>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="col-md-4 no_padding">
                            <a href="">
                                <div class="single_store">
                                    <i class="fa fa-android"></i>
                                    <div class="store_inner">
                                        <h2>ANDROID</h2>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 no_padding">
                            <a href="">
                                <div class="single_store last">
                                    <i class="fa fa-windows"></i>
                                    <div class="store_inner">
                                        <h2>WINDOWS</h2>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- END DOWNLOADABLE STORE -->
            </div>
        </div>
    </section>
    <!-- END DOWNLOAD -->

   
    <!-- =========================
         START CONTCT FORM AREA
    ============================== -->
    <section class="contact page" id="CONTACT">
        <div class="section_overlay">
            <div class="container">
                <div class="col-md-10 col-md-offset-1 wow bounceIn">
                    <!-- Start Contact Section Title-->
                    <div class="section_title">
                        <h2>ĐĂNG KÝ ĐỂ DÙNG THỬ PHẦN MỀM</h2>
                        <p>Bạn hãy nhập đầy đủ thông tin phía dưới, chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất</p>
                    </div>
                </div>
            </div>

            <div class="contact_form wow bounceIn">
                <div class="container">

                    <!-- START ERROR AND SUCCESS MESSAGE -->                    
                   
                    <div class="form_error text-center">
                        <div class="name_error hide error">Bạn chưa nhập tên nhà xe</div>
                        <div class="email_error hide error">Bạn chưa nhập email</div>
                        <div class="email_val_error hide error">Email không đúng </div>
                        <div class="sodienthoai_error hide error">Bạn chưa nhập email</div>
                        <div class="message_error hide error">Bạn chưa nhập nội dung tin đăng ký</div>
                    </div>
                    <div class="Sucess"></div>
                    <!-- END ERROR AND SUCCESS MESSAGE -->
                    <!-- FORM -->
                    <form role="form">
                        <div class="row">
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="name" placeholder="Tên nhà xe">
                                <input type="email" class="form-control" id="email" placeholder="Email">
                                <input type="text" class="form-control" id="sodienthoai" placeholder="Điện thoại">
                                <input type="text" class="form-control" id="diachi" placeholder="Địa chỉ liên hệ">
                            </div>
                            <div class="col-md-8">
                                <textarea class="form-control" id="message" rows="35" cols="10" placeholder="  Nội dung tin đăng ký dùng thử..." style="height:180px"></textarea>
                                <button type="button" class="btn btn-default submit-btn form_submit">GỬI ĐĂNG KÝ</button>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM -->
                   
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 wow bounceInLeft">
                        <div class="social_icons">
                            <ul>
                                <li>
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href=""><i class="fa fa-youtube-play"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- END CONTACT -->
    <!-- =========================
         Start Subscription Form
    ============================== -->



    <section class="subscribe parallax subscribe-parallax" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
        <div class="section_overlay wow lightSpeedIn">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">

                        <!-- Start Subscribe Section Title -->
                        <div class="section_title">
                            <h2>LIÊN HỆ VỚI CHÚNG TÔI</h2>
                            <p></p>
                           
                        </div>
                        <!-- End Subscribe Section Title -->
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row  wow lightSpeedIn">
                    <div class="col-md-12 col-md-offset-3">
                        <!-- SUBSCRIPTION SUCCESSFUL OR ERROR MESSAGES -->
                        <p style="color:white">                            
                            Giám đốc: Ông Lương Tú Tuấn.<br />
                            Số điện thoại: 04 6293 8860. -  Hotline: 0918.377.989<br />
                            Địa chỉ đăng ký kinh doanh: Số 2, Ngõ 69 Chùa Láng, Phường Láng Thượng, Quận Đống Đa, Thành Phố Hà Nội.<br />
                            Giấy chứng nhận ĐKKD số 0106992499 do Sở KH&ĐT TP.Hà Nội cấp lần đầu ngày 15/9/2015.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- END SUBSCRIPBE FORM -->
    <!-- =========================
         FOOTER
    ============================== -->

    <section class="copyright">
        <h2></h2>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="copy_right_text">                        
                        <p>Bản quyền © 2016  thuộc về <br /><a href="">CÔNG TY TRÁCH NHIỆM HỮU HẠN CHỌN VÉ.</a></p>
                        <br />
                        <span id="siteseal">
                        <script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=vUdCPCrZtLE3uXnS0F1unhggVQI7Q7WPFEm2agFYCCSWH54d9fTH3mksOVHX"></script></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="scroll_top">
                        <a href="#HOME"><i class="fa fa-angle-up"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END FOOTER -->
    <!-- =========================
         SCRIPTS
    ============================== -->


    <script src="/Content/gioithieupm/js/jquery.min.js"></script>
    <script src="/Content/gioithieupm/js/bootstrap.min.js"></script>
    <script src="/Content/gioithieupm/js/owl.carousel.js"></script>
    <script src="/Content/gioithieupm/js/jquery.fitvids.js"></script>
    <script src="/Content/gioithieupm/js/smoothscroll.js"></script>
    <script src="/Content/gioithieupm/js/jquery.parallax-1.1.3.js"></script>
    <script src="/Content/gioithieupm/js/jquery.prettyPhoto.js"></script>
    <script src="/Content/gioithieupm/js/jquery.ajaxchimp.min.js"></script>
    <script src="/Content/gioithieupm/js/jquery.ajaxchimp.langs.js"></script>
    <script src="/Content/gioithieupm/js/wow.min.js"></script>
    <script src="/Content/gioithieupm/js/waypoints.min.js"></script>
    <script src="/Content/gioithieupm/js/jquery.counterup.min.js"></script>
    <script src="/Content/gioithieupm/js/script.js"></script>



</body>

</html>