<table style="width: 750px; font-size: 11pt; height: 372px;">
    <tbody>
        <tr>
            <td style="width: 30%; text-align: left; vertical-align: top; font-size: 12pt;"><strong>C&Ocirc;NG TY CPTM V&Agrave; DL H&Agrave; LAN&nbsp;</strong></td>
        </tr>
        <tr>
            <td style="text-align: center; font-size: 16pt; font-weight: bold;" colspan="2">PHIẾU Đ&Oacute;N KH&Aacute;CH</td>
        </tr>
        <tr>
            <td style="text-align: left;" colspan="2">Miễn ph&iacute; 2km tương đương gi&aacute; trị 20.000đ</td>
        </tr>
        <tr>
            <td style="text-align: right;" colspan="2">Giờ xe chạy&nbsp;...............ng&agrave;y [NGAY] th&aacute;ng [THANG] năm [NAM]</td>
        </tr>
        <tr>
            <td colspan="2">
                <table style="width: 100%; border: 1px solid #000000; border-collapse: collapse;" cellspacing="5" cellpadding="5">
                    <tbody>
                        <tr style="font-weight: bold; text-align: center; border: 1px dotted#000000;">
                            <td style="border: 1px solid#000000; height: 30px;">STT</td>
                            <td style="border: 1px solid#000000;">Họ t&ecirc;n h&agrave;nh kh&aacute;ch</td>
                            <td style="border: 1px solid#000000;">Điện thoại</td>
                            <td style="border: 1px solid#000000;">Điểm đ&oacute;n</td>
                            <td style="border: 1px solid#000000;">Điểm trả</td>
                            <td style="border: 1px solid#000000;">Giờ trả</td>
                            <td style="border: 1px solid#000000;">SL kh&aacute;ch</td>
                            <td style="border: 1px solid#000000;">Taxi</td>
                        </tr>
                        <tr class="repeat">
                            <td style="text-align: center; border: 1px dotted#000000; height: 30px;">[STT]</td>
                            <td style="text-align: left; padding-left: 8px; border: 1px solid#000000;">[HOVATEN]</td>
                            <td style="text-align: center; border: 1px solid#000000;">[DIEN_THOAI]</td>
                            <td style="text-align: center; border: 1px solid#000000;">[DIEMDON]</td>
                            <td style="text-align: center; border: 1px solid#000000;">[DIEMTRA]</td>
                            <td style="text-align: center; border: 1px solid#000000;">&nbsp;</td>
                            <td style="text-align: center; border: 1px solid#000000;">[SOLUONGKHACH]</td>
                            <td style="text-align: center; border: 1px solid#000000;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px;" colspan="8">Tổng số: [TONG_SO_KHACH] người</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="height: 35px;" colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="2">
                <table style="width: 100%; text-align: center; font-size: 12pt; font-weight: bold;">
                    <tbody>
                        <tr>
                            <td style="width: 50%;">Người chuyển</td>
                            <td>Người nhận</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>