<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
	<siteMapNode title="NhaXes" controller="NhaXes" action="Index" >
		<siteMapNode title="Quản lý chuyến" ImageUrl="~/Content/chonve/nxmenu/quanlychuyen.png"   >			
			<siteMapNode title="Quản lý chuyến" ImageUrl="~/Content/chonve/nxmenu/quanlychuyenphutrach.png" PermissionNames="CVQLChuyen"  controller="Limousine" action="DanhSachChuyenDi"  />
      <siteMapNode title="Bảng điều chuyến" ImageUrl="~/Content/chonve/nxmenu/qlchuyen_qlchot_lichsu.png" controller="Limousine" action="BangDieuChuyen"  />

		</siteMapNode>
		<siteMapNode title="Quản lý hợp đồng" ImageUrl="~/Content/chonve/nxmenu/phoive.png"  PermissionNames="CVHoatDongBanVe" >
			<siteMapNode title="Đặt hợp đồng" ImageUrl="~/Content/chonve/nxmenu/datve_quanlydatve.png"  PermissionNames="CVHoatDongBanVe"  controller="Limousine" action="QuanLyChuyen" />
			<siteMapNode title="Danh sách hợp đồng đã đặt" ImageUrl="~/Content/chonve/nxmenu/phoive.png"  PermissionNames="CVHoatDongBanVe"  controller="Limousine" action="QuanLyDatVe" />
			<siteMapNode title="Báo cáo doanh thu hàng ngày" ImageUrl="~/Content/chonve/nxmenu/baocaodoanhthu.png" PermissionNames="CVHoatDongBanVe" controller="NhaXeBaoCao" action="DoanhThuNhanVien" />
			<siteMapNode title="Danh sách Khách hàng" ImageUrl="~/Content/chonve/nxmenu/qlchuyen_qlchot_phutrach.png" PermissionNames="CVXeVanChuyen" controller="Limousine" action="QuanLyKhachHang" />

		</siteMapNode>
		<siteMapNode title="ChonVe" nopResource="Hợp đồng vs chi phí theo xe" ImageUrl="~/Content/chonve/nxmenu/ThongKeDoanhThuXe.png" PermissionNames="CVNhanVien">
      <siteMapNode title="ChonVe" nopResource="Hợp đồng trọn gói" ImageUrl="~/Content/chonve/nxmenu/nhanvien.png" PermissionNames="CVNhanVien"  controller="HopDongChuyen" action="ListHopDongChuyen" />
      <siteMapNode title="ChonVe" nopResource="Chi phí theo xe" ImageUrl="~/Content/chonve/nxmenu/nhaxeinfo.png" PermissionNames="CVNhanVien"  controller="ChiPhiXeVanChuyen" action="List" />
      <siteMapNode title="ChonVe" nopResource="Báo cáo chi phí theo xe" ImageUrl="~/Content/chonve/nxmenu/bctk_theoluot.png" PermissionNames="CVNhanVien"  controller="ChiPhiXeVanChuyen" action="BaoCao" />
      
		</siteMapNode>
		<siteMapNode title="Báo cáo và thống kê " ImageUrl="~/Content/chonve/nxmenu/baocao.png" PermissionNames="CVBaoCao" >
			<siteMapNode title="Báo cáo doanh thu "  ImageUrl="~/Content/chonve/nxmenu/baocaodoanhthu.png" PermissionNames="CVBaoCao" controller="NhaXeBaoCao" action="BaoCaoDoanhThu" />
			<siteMapNode title="Báo cáo tổng hợp doanh thu"  ImageUrl="~/Content/chonve/nxmenu/baocaobieudo.png" PermissionNames="CVBaoCao" controller="NhaXeBaoCao" action="DoanhThuLaiXeTheoXe" />
			<siteMapNode title="Báo cáo chi tiết doanh thu theo xe" ImageUrl="~/Content/chonve/nxmenu/baocaodttuyen.png" PermissionNames="CVBaoCao" controller="NhaXeBaoCao" action="HLDoanhThuChiTietTheoNgay" />
			<siteMapNode title="Thống kê lượt đi, về lái xe" ImageUrl="~/Content/chonve/nxmenu/bctk_theoluot.png" PermissionNames="CVBaoCao" controller="NhaXeBaoCao" action="HLThongKeLuotLaiXe" />
			<siteMapNode title="Thống kê lượt khách hàng" ImageUrl="~/Content/chonve/nxmenu/ListToTaxi.png" PermissionNames="CVBaoCao" controller="NhaXeBaoCao" action="HLThongKeLuotKhachHang" />
      <siteMapNode title="Thống kê hợp đồng chuyến" ImageUrl="~/Content/chonve/nxmenu/bctk_theoluot.png" PermissionNames="CVBaoCao" controller="NhaXeBaoCao" action="XEHopDongChuyen" />
      <siteMapNode title="Doanh thu tổng hợp " ImageUrl="~/Content/chonve/nxmenu/bctk_theoluot.png" PermissionNames="CVBaoCao" controller="NhaXeBaoCao" action="XEDoanhThuTongHop" />
      <siteMapNode title="Báo cáo doanh thu theo cộng tác viên"  ImageUrl="~/Content/chonve/nxmenu/baocaodoanhthu.png" PermissionNames="CVBaoCao" controller="NhaXeBaoCao" action="DoanhThuTheoCongTacVien" />
      <siteMapNode title="Tổng hợp" ImageUrl="~/Content/chonve/nxmenu/keve_lichsu.png" PermissionNames="CVQLChuyen" controller="Limousine" action="Index"  />

    </siteMapNode>
		<siteMapNode title="Biểu đồ thống kê"  ImageUrl="~/Content/chonve/nxmenu/BieuDoThongKe.png" PermissionNames="CVBaoCao" >
			<siteMapNode title="Thống kê doanh thu, lượng HD"  ImageUrl="~/Content/chonve/nxmenu/ThongKeDoanhThuXe.png" PermissionNames="CVBaoCao" controller="NhaXeBaoCao" action="ThongKeDoanhThu" />
			<siteMapNode title="Thống kê doanh thu theo tuyến" ImageUrl="~/Content/chonve/nxmenu/ThongKeHanhTrinh.png" PermissionNames="CVBaoCao" controller="NhaXeBaoCao" action="DoanhThuTuyen" />
			<siteMapNode title="Thống kê doanh thu theo lịch trình"  ImageUrl="~/Content/chonve/nxmenu/ThongKeLichTrinh.png" PermissionNames="CVBaoCao" controller="NhaXeBaoCao" action="DoanhThuLichTrinh" />

		</siteMapNode>

		<siteMapNode title="ChonVe" nopResource="chonve.menu.nhaxe.nhanvien" ImageUrl="~/Content/chonve/nxmenu/nhanvien.png" PermissionNames="CVNhanVien" >
			<siteMapNode title="Hopdong" nopResource="chonve.menu.nhaxe.nhanvien.quanly" ImageUrl="~/Content/chonve/nxmenu/nhanvienquanly.png" PermissionNames="CVNhanVien"  controller="NhaXes" action="NhanVienList"/>
			<siteMapNode title="Hopdong" nopResource="chonve.menu.nhaxe.nhanvien.phanquyen" ImageUrl="~/Content/chonve/nxmenu/nhanvientaikhoan.png" PermissionNames="CVTaiKhoan" controller="NhaXes" action="TaiKhoanList"/>
		</siteMapNode>
		<siteMapNode title="Cài đặt" ImageUrl="~/Content/chonve/nxmenu/nhaxe_setting.png" PermissionNames="CVThongTinNhaXe" >
			<siteMapNode title="Thông tin nhà xe" ImageUrl="~/Content/chonve/nxmenu/nhaxeinfo.png" PermissionNames="CVThongTinNhaXe" >
				<siteMapNode title="Thongtin" nopResource="chonve.menu.nhaxe.thongtinchung.coban"  ImageUrl="~/Content/chonve/nxmenu/nhaxeinfocontract.png" PermissionNames="CVThongTinNhaXe" controller="NhaXes" action="Info"  />
				<siteMapNode title="Thongtin" nopResource="chonve.menu.nhaxe.thongtinchung.vanphong"  ImageUrl="~/Content/chonve/nxmenu/nhaxeinfovanphong.png" PermissionNames="CVThongTinNhaXe" controller="NhaXes" action="VanPhongList" />
				<siteMapNode title="Mẫu danh sách hành khách" ImageUrl="~/Content/chonve/nxmenu/qlchuyen_qlchot_phutrach.png" PermissionNames="CVThongTinNhaXe" controller="NhaXeCauHinh" action="LenhChuyenKhach" />
				<siteMapNode title="Mẫu lệnh phụ" ImageUrl="~/Content/chonve/nxmenu/nhaxeinfomaulenhxexuatben.png" PermissionNames="CVThongTinNhaXe" controller="NhaXeCauHinh" action="LenhPhuDiDuong" />
				<siteMapNode title="Mãu chuyển khách cho taxi" ImageUrl="~/Content/chonve/nxmenu/ListToTaxi.png" PermissionNames="CVThongTinNhaXe" controller="NhaXeCauHinh" action="KhachHangToTaxi" />
        <siteMapNode title="Mẫu phiếu thu" ImageUrl="~/Content/chonve/nxmenu/nhaxeinfomauve.png" PermissionNames="CVThongTinNhaXe" controller="NhaXeCauHinh" action="CuongVe" />
			</siteMapNode>
			<siteMapNode title="ChonVe" nopResource="chonve.menu.nhaxe.hanhtrinh" ImageUrl="~/Content/chonve/nxmenu/hanhtrinh.png" PermissionNames="CVHanhTrinh" >
				<siteMapNode title="Hopdong" nopResource="chonve.menu.nhaxe.hanhtrinh.hanhtrinh" ImageUrl="~/Content/chonve/nxmenu/hanhtrinhquanly.png" PermissionNames="CVTaiKhoan"  controller="NhaXes" action="HanhTrinhList"  />
				<siteMapNode title="Hopdong" nopResource="chonve.menu.nhaxe.hanhtrinh.diemdon" ImageUrl="~/Content/chonve/nxmenu/hanhtrinhdiemdon.png" PermissionNames="CVHanhTrinh"  controller="NhaXes" action="DiemDonList" />
				<siteMapNode title="Hopdong" nopResource="chonve.menu.nhaxe.hanhtrinh.lichtrinh" ImageUrl="~/Content/chonve/nxmenu/hanhtrinhlichtrinh.png" PermissionNames="CVTaiKhoan"  controller="NhaXes" action="LichTrinhList"  />
        <siteMapNode title="Cấu hình giá vé" ImageUrl="~/Content/chonve/nxmenu/CauHinhGiaVe.png" PermissionNames="CVTaiKhoan"  controller="Limousine" action="CauHinhGiaVeChung"  />
        <siteMapNode title="Cấu hình giá vé sơ đồ" ImageUrl="~/Content/chonve/nxmenu/GiaVeSoDo.png" PermissionNames="CVTaiKhoan"  controller="Limousine" action="CauHinhGiaVeSoDo"  />
      <siteMapNode title="Bảng giá vé" ImageUrl="~/Content/chonve/nxmenu/CauHinhGiaVe.png" PermissionNames="CVTaiKhoan"  controller="Limousine" action="ListBangGiaVe"  />
			</siteMapNode>
			<siteMapNode title="ChonVe" nopResource="chonve.menu.nhaxe.qlxe" ImageUrl="~/Content/chonve/nxmenu/quanlyxe.png"  PermissionNames="CVXeVanChuyen" >
				<siteMapNode title="Hopdong" nopResource="chonve.menu.nhaxe.qlxe.thongtinxe" ImageUrl="~/Content/chonve/nxmenu/quanlyxethongtin.png"  PermissionNames="CVXeVanChuyen"  controller="NhaXes" action="XeInfoList"/>
				<siteMapNode title="Hopdong" nopResource="chonve.menu.nhaxe.qlxe.loaixe" ImageUrl="~/Content/chonve/nxmenu/quanlyxeloaixe.png"  PermissionNames="CVTaiKhoan"  controller="NhaXes" action="LoaiXeList" />
			</siteMapNode>
		</siteMapNode>
	</siteMapNode>
</siteMap>

